.tab{
    padding: 5px;
    background-color: rgba(15, 15, 15,0.8);
    width: 100%;
    margin: 10px auto;
    text-align: center;
    text-transform: uppercase;

}
.tab_titleSongs{
    font-size: 17px;
}
.tab_artist {
    font-size: 13px;
}
.tab_list{
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 12px;
}
.tab_titleAvaible{
    font-size: 13px;
}
.tab_availableTab{
margin: 5px 8px;
}
.tab_link{
    display: block;
    width: max-content;
    font-size: 15px;
    text-decoration: none;
    color:#2BA4C6;
    border: 2px solid #2BA4C6;
    margin: 5px auto;
    font-weight: bold;
    padding: 3px 10px;
    transition: linear 0.2s;

}
.tab_link:hover{
    background-color: #2BA4C6;
    color: #0f0f0f;
}

@media only screen and (min-width: 768px) {
    .tab_titleSongs{
        font-size: 25px;
    }
    .tab_artist {
        font-size: 21px;
    }
    .tab_list{

        font-size: 18px;
    }
    .tab_titleAvaible{
        font-size: 18px;
    }
    .tab_availableTab{
        margin: 0 14px;
    }
    .tab_link{
        font-size: 19px;
        padding: 3px 10px;
    }
}
@media (min-width: 1300px) {
    .tab_titleSongs{
        font-size: 30px;
    }
    .tab_artist {
        font-size: 26px;
    }
    .tab_list{

        font-size: 23px;
    }
    .tab_titleAvaible{
        font-size: 21px;
    }
    .tab_availableTab{
        margin: 0 18px;
    }
    .tab_link{
        font-size: 21px;
        padding: 3px 10px;
    }
}